/* Global Styles*/
body {
    background-color: bisque;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Mobile Styles*/

#container {
    background-color: lightyellow;
    margin: 10px;
}

header {
    background-image: url(../images/nothing);
    background-size: cover;
    padding: 72px 0;
}

header h1 {
    color: cadetblue;
    text-shadow: 2px 2px 2px lightcoral;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li {
    display: block;
    background-color: maroon;
    color: mediumslateblue;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px 0;
    border-radius: 10px;
}

nav li a:hover {
    background-color: mistyrose;
    text-shadow: 2px 2px 2px blueviolet;
}

nav, section, aside, .col, footer {
    background-color: lightskyblue;
    padding: 23px;
    margin: 10px;
    border: 4px solid lightslategrey;
    border-radius: 10px;
}

h2, h3 {
    color: cornflowerblue;
    text-shadow: darkblue;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img {
    width: 60%;
}

.button {
    display: block;
    background-color: maroon;
    color: mediumslateblue;
    height: 40px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px auto;
    border-radius: 10px;
}

.button:hover {
    background-color: darkgray;
    text-shadow: darkorchid;
}

footer {
    text-align: center;
    color: darksalmon;
}
/* Tablet Styles*/


/* Desktop Styles*/